Repository boostcampwm-2021/web02-booducksound, pull requests merged in 2021-11, with the labels that each got.

#15 [#1] atoms 캐릭터 & 글래스컨테이너 구현
  frontend/package-lock.json
  frontend/public/images/부덕.svg
  frontend/src/components/atoms/character.tsx
  frontend/src/components/atoms/glassContainer.tsx
  frontend/src/types/character.d.ts
Labels: frontend, component

#20 [#1] Chip, InputBox atoms 컴포넌트 작성
  frontend/package.json
  frontend/public/images/readingGlass.png
  frontend/src/components/atoms/InputBox.tsx
  frontend/src/components/atoms/chip.tsx
  yarn.lock
Labels: frontend, component

#18 [#1] Character, GlassContainer, Background 등의 atom 컴포넌트 작성
  frontend/public/images/background.svg
  frontend/public/images/부덕.svg
  frontend/src/components/atoms/character/character.test.tsx
  frontend/src/components/atoms/character/index.tsx
  frontend/src/components/atoms/glassContainer/glassContainer.test.tsx
  frontend/src/components/atoms/glassContainer/index.tsx
  frontend/src/styles/default.css
  frontend/src/types/character.d.ts
Labels: frontend, component

#19 [#1] selectBox, pageBox, radio button 등의 atom 컴포넌트 작성
  frontend/package-lock.json
  frontend/public/images/ic_select.png
  frontend/src/components/atoms/PageBox/index.tsx
  frontend/src/components/atoms/Radio/index.tsx
  frontend/src/components/atoms/SelectBox/index.tsx
  frontend/src/components/atoms/character.tsx
  frontend/src/components/atoms/glassContainer.tsx
  frontend/src/types/radio.d.ts
  frontend/src/types/select.d.ts
Labels: frontend, component

#17 [#1] Button, Modal, RoomCard, StatusChip 등의 atom 컴포넌트 작성
  frontend/src/components/atoms/Button/Button.test.tsx
  frontend/src/components/atoms/Button/index.tsx
  frontend/src/components/atoms/Modal/index.tsx
  frontend/src/components/atoms/RoomCard/index.tsx
  frontend/src/components/atoms/StatusChip/index.tsx
Labels: frontend, component

#23 [#1] Button 반응형으로 크기 조절 가능 하도록 개선 및 Theme에 Breakpoint 추가
  frontend/src/components/atoms/Button/index.tsx
  frontend/src/styles/theme.ts
Labels: style, refactor

#26 [#1] InputBox 수정
  frontend/src/components/atoms/InputBox/index.tsx
Labels: frontend, component

#29 [#1 #22 #25 #27 #28] 메인/로그인/비회원/회원가입 페이지 퍼블리싱 및 MenuInfoBox, ProfileSelector 컴포넌트 추가 등
  frontend/public/images/ic_booduck.png
  frontend/public/images/ic_crong.png
  frontend/public/images/ic_logo.png
  frontend/public/images/ic_next.png
  frontend/public/images/ic_prev.png
  frontend/public/images/ic_shuffle.png
  frontend/src/components/atoms/MenuInfoBox/index.tsx
  frontend/src/components/atoms/PageBox/PageBox.test.tsx
  frontend/src/components/atoms/PageBox/index.tsx
  frontend/src/components/atoms/ProfileSelector/index.tsx
  frontend/src/components/atoms/Radio/Radio.test.tsx
  frontend/src/components/atoms/SelectBox/SelectBox.test.tsx
  frontend/src/pages/enter.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/join.tsx
  frontend/src/pages/login.tsx
  frontend/src/styles/default.css
Labels: frontend, style, refactor, feature, component

#35 [#1, #32, #34] ResponsiveButton 작성 / Modal에 버튼 추가 및 반응형 개선
  frontend/src/components/atoms/Modal/index.tsx
  frontend/src/components/molecules/Modal/index.tsx
  frontend/src/components/molecules/ResponsiveButton/index.tsx
  frontend/src/pages/lobby/index.tsx
  frontend/src/styles/theme.ts
Labels: style, refactor, component

#38 [#37] InputSection moleculas 컴포넌트 생성
  frontend/src/components/moleculas/InputSection/index.tsx
Labels: frontend, component

#40 [#1, #32] CreateRoomModal 작성 및 각종 컴포넌트 반응형 개선
  frontend/package.json
  frontend/src/components/atoms/Button/index.tsx
  frontend/src/components/atoms/InputBox/index.tsx
  frontend/src/components/atoms/Portal/index.tsx
  frontend/src/components/molecules/InputSection/index.tsx
  frontend/src/components/molecules/InputWithButton/index.tsx
  frontend/src/components/molecules/Modal/index.tsx
  frontend/src/components/molecules/ResponsiveButton/index.tsx
  frontend/src/components/organisms/CreateRoomModal/index.tsx
  frontend/src/pages/_document.tsx
  frontend/yarn.lock
Labels: frontend, style, component

#41 [#1, #32] Modal이 클릭 이벤트 핸들러를 받아 처리할 수 있도록 개선
  frontend/src/components/molecules/InputWithButton/index.tsx
  frontend/src/components/molecules/Modal/index.tsx
  frontend/src/components/molecules/ResponsiveButton/index.tsx
  frontend/src/components/organisms/CreateRoomModal/index.tsx
  frontend/src/pages/lobby/index.tsx
Labels: frontend, style, component

#42 [#32, #34] 방 생성 모달, 방 설정 모달을 하나로 하여 구현
  frontend/src/components/atoms/InputBox/index.tsx
  frontend/src/components/atoms/SelectBox/index.tsx
  frontend/src/components/molecules/InputWithButton/index.tsx
  frontend/src/components/molecules/SelectSection/index.tsx
  frontend/src/components/organisms/RoomSettingModal/index.tsx
  frontend/src/pages/lobby/index.tsx
  frontend/src/types/select.d.ts
Labels: frontend, style, refactor, component

#43 [#37] 플레이리스트 추가 페이지 구현 및 Chip 컴포넌트 수정
  frontend/public/images/ic_delete.svg
  frontend/src/components/atoms/Chip/index.tsx
  frontend/src/components/atoms/DeleteButton/index.tsx
  frontend/src/components/molecules/Chip/index.tsx
  frontend/src/components/molecules/CreatePlaylistMusicItem/index.tsx
  frontend/src/components/organisms/CreatePlaylistInputBox/index.tsx
  frontend/src/components/organisms/CreatePlaylistMusicList/index.tsx
  frontend/src/pages/lobby/index.tsx
  frontend/src/pages/playlist/create/index.tsx
  frontend/src/types/music.d.ts
Labels: frontend, refactor, feature, component

#44 [#36] 대기및 게임화면 구성
  frontend/public/images/ic_speaker.png
  frontend/src/components/atoms/Character/Character.test.tsx
  frontend/src/components/atoms/Chat/index.tsx
  frontend/src/components/atoms/GlassContainer/index.tsx
  frontend/src/components/molecules/CharacterContainer/index.tsx
  frontend/src/components/molecules/ChatContainer/index.tsx
  frontend/src/components/molecules/characterList/index.tsx
  frontend/src/components/molecules/characterProfile/index.tsx
  frontend/src/components/organisms/GameRoomContainer/index.tsx
  frontend/src/components/organisms/GameRoomNav/index.tsx
  frontend/src/pages/gameRoom/index.tsx
  frontend/src/styles/theme.ts
  frontend/src/utils/window.ts
Labels: frontend, component

#52 [#45, #51] Redux 설정 / useSocket, useSocketOn, useSocketEmit 커스텀 훅 작성 / 백엔드 폴더 구조 변경
  backend/nodemon.json
  backend/package.json
  backend/src/config/db.ts
  backend/src/db.ts
  backend/src/index.ts
  backend/src/server.ts
  frontend/package.json
  frontend/src/actions/socket.ts
  frontend/src/components/atoms/SelectBox/index.tsx
  frontend/src/components/molecules/SelectSection/index.tsx
  frontend/src/components/organisms/RoomSettingModal/index.tsx
  frontend/src/hooks/useSocket.ts
  frontend/src/hooks/useSocketEmit.ts
  frontend/src/hooks/useSocketOn.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/lobby/index.tsx
  frontend/src/reducers/index.ts
  frontend/src/reducers/socket.ts
  frontend/src/types/actions.ts
  frontend/yarn.lock
Labels: frontend, refactor, backend, feature

#53 [#45] 클라이언트, 백엔드 CREATE_ROOM 소켓 이벤트 작성
  backend/package.json
  backend/src/io.ts
  backend/src/types/SocketEvents.ts
  backend/yarn.lock
  frontend/src/actions/socket.ts
  frontend/src/components/organisms/CreateRoomModal/index.tsx
  frontend/src/pages/lobby/index.tsx
  frontend/src/reducers/socket.ts
  frontend/src/types/Actions.ts
  frontend/src/types/SocketEvents.ts
Labels: frontend, backend, feature

#54 [#9 #46 #47 #48] user model 수정, 사용자 로그인/회원가입 관련 service 작성
  backend/package.json
  backend/src/models/User.ts
  backend/src/resources/user/controller.ts
  backend/src/resources/user/router.ts
  backend/src/resources/user/service.ts
  backend/src/server.ts
  backend/yarn.lock
  frontend/src/components/atoms/Button/index.tsx
  frontend/src/pages/login.tsx
Labels: refactor, backend

#56 [#49] 플레이리스트 생성 페이지 칩 추가
  frontend/src/pages/playlist/create/index.tsx
  frontend/src/utils/useEventListener.ts
Labels: frontend, component

#57 [#45] Button, useSocketEmit type 수정
  frontend/src/components/atoms/Button/Button.test.tsx
  frontend/src/components/atoms/Button/index.tsx
  frontend/src/hooks/useSocketEmit.ts
Labels: bug, frontend

#60 [#45] 게임 페이지에서 Socket으로 방 데이터 가져오기 / 방 생성 및 그에 따른 게임 페이지로 이동
  backend/src/io.ts
  backend/src/types/GameRoom.d.ts
  backend/src/types/LobbyRoom.d.ts
  backend/src/types/Player.d.ts
  backend/src/types/ServerRoom.d.ts
  backend/src/types/SocketEvents.ts
  frontend/.eslintrc.json
  frontend/src/components/atoms/RoomCard/index.tsx
  frontend/src/components/organisms/CreateRoomModal/index.tsx
  frontend/src/hooks/useSocketEmit.ts
  frontend/src/pages/game/[id].tsx
  frontend/src/pages/game/index.tsx
  frontend/src/pages/lobby/index.tsx
  frontend/src/reducers/index.ts
  frontend/src/reducers/room.ts
  frontend/src/types/Actions.ts
  frontend/src/types/GameRoom.d.ts
  frontend/src/types/LobbyRoom.d.ts
  frontend/src/types/Player.d.ts
  frontend/src/types/SocketEvents.ts
Labels: frontend, backend, feature

#61 Socket URI 환경변수로 등록
  frontend/src/actions/socket.ts
Labels: setting

#62 [#3] 플레이리스트 내부 추가된 노래 삭제 기능 구현
  frontend/src/components/atoms/InputBox/index.tsx
  frontend/src/components/molecules/CreatePlaylistMusicItem/index.tsx
  frontend/src/components/organisms/CreatePlaylistMusicList/index.tsx
  frontend/src/pages/playlist/create/index.tsx
Labels: frontend, feature, component

#63 Feat#46/guiyomj
  backend/src/models/User.ts
  backend/src/resources/account/controller.ts
  backend/src/resources/account/router.ts
  backend/src/resources/account/service.ts
  backend/src/resources/user/controller.ts
  backend/src/resources/user/router.ts
  backend/src/resources/user/service.ts
  backend/src/server.ts
  frontend/src/components/atoms/InputBox/index.tsx
  frontend/src/pages/login.tsx
Labels: frontend, backend

#64 Feat#46/guiyomj
  backend/package.json
  backend/src/resources/account/controller.ts
  backend/src/resources/account/router.ts
  backend/src/resources/account/service.ts
  backend/yarn.lock
  frontend/package.json
  frontend/src/actions/account.ts
  frontend/src/components/atoms/ProfileSelector/index.tsx
  frontend/src/components/atoms/Radio/index.tsx
  frontend/src/pages/enter.tsx
  frontend/src/pages/enter/index.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/join/index.tsx
  frontend/src/pages/login/index.tsx
  frontend/src/pages/mypage/index.tsx
  frontend/src/types/radio.d.ts
  frontend/yarn.lock
Labels: frontend, backend

#66 [#9 #46 #47 #48] 빌드 오류 수정 및 .env 추가
  frontend/src/actions/account.ts
  frontend/src/pages/join/index.tsx
Labels: bug

#65 [#14] 스타일 확장 적용을 포함한 리팩토링 작업
  frontend/src/components/atoms/DeleteButton/index.tsx
  frontend/src/components/atoms/InputText/index.tsx
  frontend/src/components/molecules/Chip/index.tsx
  frontend/src/components/molecules/CreatePlaylistMusicItem/index.tsx
  frontend/src/components/organisms/CreatePlaylistInputBox/index.tsx
  frontend/src/components/organisms/CreatePlaylistMusicList/index.tsx
  frontend/src/components/organisms/CreatePlaylistMusicModal/index.tsx
  frontend/src/hooks/useEventListener.ts
  frontend/src/pages/playlist/create/index.tsx
  frontend/src/types/music.d.ts
  frontend/tsconfig.json
Labels: frontend, style, refactor, component, 리뷰요청

#68 [#36] 스타일 확장을 이용한 태그 정리 및 개선
  frontend/src/components/atoms/GlassContainer/index.tsx
  frontend/src/components/molecules/CharacterList/index.tsx
  frontend/src/components/molecules/ChatList/index.tsx
  frontend/src/components/organisms/GameRoomContainer/index.tsx
  frontend/src/components/organisms/GameRoomNav/index.tsx
Labels: frontend, style, refactor

#71 [#9 #46 #47 #48] 사용자 정보 받아오기
  backend/src/models/User.ts
  backend/src/resources/account/controller.ts
  backend/src/resources/account/service.ts
  frontend/src/actions/user.ts
  frontend/src/api/account.ts
  frontend/src/components/atoms/Radio/Radio.test.tsx
  frontend/src/components/atoms/Radio/index.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/enter/index.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/join/index.tsx
  frontend/src/pages/login/index.tsx
  frontend/src/pages/mypage/index.tsx
  frontend/src/reducers/index.ts
  frontend/src/reducers/user.ts
  frontend/src/types/Actions.ts
  frontend/tsconfig.json
Labels: frontend, refactor, backend

#72 [#70] 플레이리스트 선택 모달 구현
  frontend/src/components/molecules/InputWithButton/index.tsx
  frontend/src/components/molecules/Modal/index.tsx
  frontend/src/components/organisms/CreateRoomModal/index.tsx
  frontend/src/components/organisms/SelectPlaylistModal/index.tsx
  frontend/src/pages/lobby/index.tsx
Labels: frontend, component

#74 [#7] 플레이리스트 생성 기능 구현
  backend/src/models/PlayList.ts
  backend/src/models/User.ts
  backend/src/resources/playList/controller.ts
  backend/src/resources/playList/router.ts
  backend/src/resources/playList/service.ts
  frontend/src/api/playlist.ts
  frontend/src/components/molecules/Modal/index.tsx
  frontend/src/components/organisms/CreatePlaylistMusicModal/index.tsx
  frontend/src/constants/index.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/playlist/create/index.tsx
  frontend/src/types/Playlist.d.ts
Labels: frontend, backend

#75 [#73] 소켓을 통해 방 생성에 따른 실시간 로비 렌더링
  backend/src/io.ts
  backend/src/server.ts
  backend/src/types/SocketEvents.ts
  frontend/src/hooks/useSocketOn.ts
  frontend/src/pages/lobby/index.tsx
  frontend/src/types/SocketEvents.ts
Labels: frontend, backend

#83 [#79 #80]
  backend/src/resources/account/controller.ts
  backend/src/resources/account/service.ts
  backend/src/resources/user/controller.ts
  backend/src/resources/user/router.ts
  backend/src/resources/user/service.ts
  backend/src/server.ts
  frontend/src/actions/user.ts
  frontend/src/api/account.ts
  frontend/src/api/user.ts
  frontend/src/constants/index.ts
  frontend/src/pages/findPwd/index.tsx
  frontend/src/pages/join/index.tsx
  frontend/src/pages/login/index.tsx
  frontend/src/pages/mypage/index.tsx
  frontend/src/reducers/user.ts
  frontend/src/types/Actions.ts
Labels: frontend, backend, feature

#87 [#81 #82] 마이페이지 플레이리스트 조회 기능 관련 추가
  backend/src/models/PlayList.ts
  backend/src/models/User.ts
  backend/src/resources/user/controller.ts
  backend/src/resources/user/router.ts
  backend/src/resources/user/service.ts
  frontend/src/actions/user.ts
  frontend/src/api/user.ts
  frontend/src/constants/index.ts
  frontend/src/pages/mypage/index.tsx
Labels: bug, frontend, backend, feature

#88 [#86] 드래그 앤 드롭으로 노래 순서 변경 기능 구현
  frontend/src/components/molecules/CreatePlaylistMusicItem/index.tsx
  frontend/src/components/organisms/CreatePlaylistMusicList/index.tsx
  frontend/src/pages/playlist/create/index.tsx
  frontend/src/utils/swap.ts
Labels: frontend, feature, component

#85 [#84] 게임화면 플레이어 상태 표시
  backend/src/io.ts
  backend/src/types/Player.d.ts
  backend/src/types/SocketEvents.ts
  frontend/src/components/molecules/CharacterList/index.tsx
  frontend/src/components/organisms/GameRoomContainer/index.tsx
  frontend/src/pages/game/index.tsx
  frontend/src/types/SocketEvents.ts
Labels: frontend, backend, feature

#89 [#32, #73] 방 생성 validate / 방 입장과 나가기에 따른 인원 변경 / 방 폭파 구현
  backend/src/io.ts
  backend/src/models/Playlist.ts
  backend/src/resources/user/service.ts
  backend/src/types/GameRoom.d.ts
  backend/src/types/Player.d.ts
  backend/src/types/ServerRoom.d.ts
  backend/src/types/SocketEvents.ts
  backend/src/utils/rooms.ts
  frontend/src/components/atoms/Button/index.tsx
  frontend/src/components/atoms/RoomCard/index.tsx
  frontend/src/components/molecules/CharacterList/index.tsx
  frontend/src/components/molecules/Modal/index.tsx
  frontend/src/components/molecules/ResponsiveButton/index.tsx
  frontend/src/components/organisms/CreateRoomModal/index.tsx
  frontend/src/components/organisms/GameRoomContainer/index.tsx
  frontend/src/components/organisms/SelectPlaylistModal/index.tsx
  frontend/src/pages/lobby/index.tsx
  frontend/src/types/GameRoom.d.ts
  frontend/src/types/Player.d.ts
  frontend/src/types/SocketEvents.ts
Labels: frontend, backend

#90 [#73] 게임 페이지에서 뒤로가기 시 방 정보 갱신
  backend/src/io.ts
  frontend/src/hooks/useLeavePage.ts
  frontend/src/pages/game/index.tsx
  frontend/src/types/SocketEvents.ts
Labels: frontend, backend

#92 [#91] 대기방 버튼 상태 변경 로직 구현
  backend/src/io.ts
  frontend/src/components/organisms/GameRoomContainer/index.tsx
  frontend/src/components/organisms/GameRoomNav/index.tsx
  frontend/src/pages/game/index.tsx
Labels: frontend, backend, feature

#94 [#93] game 페이지에서 stream을 통한 노래 재생
  backend/package.json
  backend/src/io.ts
  backend/src/resources/game/controller.ts
  backend/src/resources/game/router.ts
  backend/src/server.ts
  backend/src/types/ServerRoom.d.ts
  backend/src/types/SocketEvents.ts
  backend/src/utils/streamify.ts
  backend/yarn.lock
  frontend/src/pages/game/index.tsx
  frontend/src/types/SocketEvents.ts
Labels: frontend, backend, feature

#95 [#10] 플레이리스트 생성 페이지 상태 결합 리팩토링
  frontend/src/components/organisms/CreatePlaylistInputBox/index.tsx
  frontend/src/components/organisms/CreatePlaylistMusicList/index.tsx
  frontend/src/pages/playlist/create/index.tsx
  frontend/src/types/PlaylistInput.d.ts
  test.js
Labels: frontend, refactor, component

#96 [#82] 플레이리스트 좋아요 취소 기능, url 규칙에 맞게 변경 등
  backend/src/models/User.ts
  backend/src/resources/account/router.ts
  backend/src/resources/user/controller.ts
  backend/src/resources/user/router.ts
  backend/src/resources/user/service.ts
  frontend/src/actions/user.ts
  frontend/src/api/account.ts
  frontend/src/api/user.ts
  frontend/src/pages/join/index.tsx
  frontend/src/pages/mypage/index.tsx
Labels: frontend, refactor, backend, feature, component

#98 [#93] stream 변환을 한 번만 해두고 여러 플레이어에게 건네도록 개선
  backend/package.json
  backend/src/io.ts
  backend/src/resources/game/controller.ts
  backend/src/resources/game/router.ts
  backend/src/types/ServerRoom.d.ts
  backend/src/types/SocketEvents.ts
  backend/src/utils/streamify.ts
  backend/yarn.lock
  frontend/src/pages/game/index.tsx
  frontend/src/types/SocketEvents.ts
Labels: frontend, backend, feature

#100 [#93] onDurationChange를 통해 audio가 loop되지 않는 현상 해결
  backend/src/types/ServerRoom.d.ts
  backend/src/utils/streamify.ts
  frontend/src/pages/game/index.tsx
Labels: bug, frontend

#99 [#10] 플레이리스트 수정 기능 구현
  backend/src/models/Playlist.ts
  backend/src/resources/playList/controller.ts
  backend/src/resources/playList/router.ts
  backend/src/resources/playList/service.ts
  frontend/src/api/playlist.ts
  frontend/src/pages/mypage/index.tsx
  frontend/src/pages/playlist/[playlistId].tsx
  frontend/src/reducers/user.ts
  frontend/src/types/Playlist.d.ts
Labels: frontend, refactor, backend, feature, component, 리뷰요청

#101 모든 파일에 대하여 코드 리팩토링
  backend/src/db.ts
  backend/src/io.ts
  backend/src/models/Playlist.ts
  backend/src/models/User.ts
  backend/src/resources/account/controller.ts
  backend/src/resources/account/router.ts
  backend/src/resources/account/service.ts
  backend/src/resources/game/controller.ts
  backend/src/resources/playList/controller.ts
  backend/src/resources/playList/router.ts
  backend/src/resources/playList/service.ts
  backend/src/resources/user/controller.ts
  backend/src/resources/user/router.ts
  backend/src/resources/user/service.ts
  backend/src/types/GameRoom.d.ts
  backend/src/types/Music.d.ts
  backend/src/types/Playlist.d.ts
  backend/src/types/ServerRoom.d.ts
  backend/src/types/User.d.ts
  backend/src/utils/rooms.ts
  backend/src/variables/serverRooms.ts
  frontend/src/actions/user.ts
  frontend/src/api/account.ts
  frontend/src/api/playlist.ts
  frontend/src/api/user.ts
  frontend/src/components/atoms/Button/index.tsx
  frontend/src/components/atoms/Character/Character.test.tsx
  frontend/src/components/atoms/GlassContainer/GlassContainer.test.tsx
  frontend/src/components/atoms/ProfileSelector/index.tsx
  frontend/src/components/molecules/CharacterList/index.tsx
  frontend/src/components/molecules/CreatePlaylistMusicItem/index.tsx
  frontend/src/components/molecules/InputWithButton/index.tsx
  frontend/src/components/molecules/Modal/index.tsx
  frontend/src/components/molecules/ResponsiveButton/index.tsx
  frontend/src/components/organisms/CreatePlaylistMusicList/index.tsx
  frontend/src/components/organisms/CreatePlaylistMusicModal/index.tsx
  frontend/src/components/organisms/CreateRoomModal/index.tsx
  frontend/src/components/organisms/GameRoomContainer/index.tsx
  frontend/src/components/organisms/GameRoomNav/index.tsx
  frontend/src/components/organisms/SelectPlaylistModal/index.tsx
  frontend/src/hooks/useEventListener.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/enter/index.tsx
  frontend/src/pages/findPwd/index.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/join/index.tsx
  frontend/src/pages/lobby/index.tsx
  frontend/src/pages/login/index.tsx
  frontend/src/pages/mypage/index.tsx
  frontend/src/pages/playlist/[playlistId].tsx
  frontend/src/utils/API.ts
  test.js
Labels: frontend, refactor, backend

#102 마이페이지 리펙토링
  frontend/src/components/atoms/BoxTitle/index.tsx
  frontend/src/components/atoms/PlayListTable/index.tsx
  frontend/src/components/molecules/MyPlayListBox/index.tsx
  frontend/src/components/molecules/ProfileBox/index.tsx
  frontend/src/components/molecules/UserInfoBox/index.tsx
  frontend/src/components/organisms/MyPageContainer/index.tsx
  frontend/src/pages/mypage/index.tsx
Labels: frontend, refactor

#104 [#12] 마이페이지 myplaylist 삭제 기능 구현
  frontend/src/components/molecules/MyPlayListBox/index.tsx
  frontend/src/components/organisms/MyPlaylistTable/index.tsx
Labels: frontend, feature, component

#107 [#103] 플레이리스트 선택 모달에서 실제 데이터를 통한 렌더
  backend/src/models/Playlist.ts
  backend/src/resources/playList/controller.ts
  backend/src/resources/playList/router.ts
  backend/src/resources/playList/service.ts
  backend/src/types/Playlist.d.ts
  backend/src/utils/rooms.ts
  frontend/src/api/A.ts
  frontend/src/api/playlist.ts
  frontend/src/components/organisms/CreatePlaylistInputBox/index.tsx
  frontend/src/components/organisms/CreateRoomModal/index.tsx
  frontend/src/components/organisms/SelectPlaylistModal/index.tsx
  frontend/src/pages/playlist/[playlistId].tsx
  frontend/src/types/Playlist.d.ts
  frontend/src/types/PlaylistInput.d.ts
Labels: frontend, backend, feature

#108 [#14] 플레이리스트 해시태그 공백 처리
  frontend/src/components/atoms/InputText/index.tsx
  frontend/src/components/organisms/CreatePlaylistInputBox/index.tsx
  frontend/src/components/organisms/CreatePlaylistMusicModal/index.tsx
  frontend/src/pages/playlist/[playlistId].tsx
  frontend/src/types/InputTextProps.d.ts
Labels: bug, frontend, refactor, component

#110 [#93] 방 생성 시 선택한 플레이리스트의 음원을 출력하는 기능 구현
  backend/src/io.ts
  backend/src/types/GameRoom.d.ts
  backend/src/types/ServerRoom.d.ts
  backend/src/utils/rooms.ts
  backend/src/utils/streamify.ts
Labels: backend, feature

#111 [#106] 빌드 타입오류 수정
  frontend/src/components/organisms/InviteCodeModal/index.tsx
  frontend/src/pages/lobby/index.tsx
Labels: bug, refactor

#112 [#97] 게임방 옵션 적용 및 채팅 스크롤 수정
  backend/src/io.ts
  backend/src/types/GameRoom.d.ts
  backend/src/types/ServerRoom.d.ts
  backend/src/types/SocketEvents.ts
  backend/src/utils/rooms.ts
  frontend/public/images/settings.png
  frontend/src/components/molecules/CharacterList/index.tsx
  frontend/src/components/molecules/ChatList/index.tsx
  frontend/src/components/organisms/GameRoomContainer/index.tsx
  frontend/src/components/organisms/OptionModal/index.tsx
  frontend/src/components/organisms/SelectPlaylistModal/index.tsx
  frontend/src/pages/game/index.tsx
  frontend/src/types/GameRoom.d.ts
  frontend/src/types/SocketEvents.ts
Labels: frontend, refactor, backend, feature

#113 [#103] 플레이리스트 검색 무한 스크롤 및 디바운싱 구현
  frontend/package.json
  frontend/public/images/spinner.svg
  frontend/src/components/atoms/Spinner/index.tsx
  frontend/src/components/molecules/Modal/index.tsx
  frontend/src/components/organisms/OptionModal/index.tsx
  frontend/src/components/organisms/SelectPlaylistModal/index.tsx
  frontend/src/pages/playlist/[playlistId].tsx
  frontend/yarn.lock
Labels: frontend, backend, feature

#118 [#115] 문제 스킵 및 정답 맞추기 구현
  backend/src/io.ts
  backend/src/types/Player.d.ts
  backend/src/types/SocketEvents.ts
  frontend/src/components/atoms/Chat/index.tsx
  frontend/src/components/atoms/PageBox/index.tsx
  frontend/src/components/atoms/StatusChip/index.tsx
  frontend/src/components/molecules/CharacterList/index.tsx
  frontend/src/components/molecules/CharacterProfile/index.tsx
  frontend/src/components/molecules/ChatList/index.tsx
  frontend/src/components/molecules/ProfileBox/index.tsx
  frontend/src/components/organisms/GameRoomNav/index.tsx
  frontend/src/components/organisms/MyPageContainer/index.tsx
  frontend/src/pages/game/index.tsx
  frontend/src/pages/mypage/index.tsx
  frontend/src/pages/playlist/[playlistId].tsx
  frontend/src/types/Player.d.ts
  frontend/src/types/SocketEvents.ts
Labels: frontend, refactor, backend, feature

#119 [#114] 게임 페이지 UI 개선, CSS 반응형으로 작성
  backend/src/utils/streamify.ts
  frontend/src/components/atoms/Chat/index.tsx
  frontend/src/components/atoms/GlassContainer/index.tsx
  frontend/src/components/atoms/StatusChip/index.tsx
  frontend/src/components/molecules/CharacterList/index.tsx
  frontend/src/components/molecules/CharacterProfile/index.tsx
  frontend/src/components/molecules/ChatList/index.tsx
  frontend/src/components/organisms/GameRoomContainer/index.tsx
  frontend/src/components/organisms/GameRoomNav/index.tsx
  frontend/src/components/organisms/OptionModal/index.tsx
  frontend/src/pages/game/index.tsx
Labels: frontend, refactor, component

#117 [#116] 게임 시작 기능 구현
  backend/src/io.ts
  frontend/src/components/organisms/GameRoomNav/index.tsx
  frontend/src/pages/game/index.tsx
  frontend/src/types/Players.d.ts
Labels: frontend, backend, feature, component

#120 [#114] 게임 페이지 디자인 개선, 채팅을 받으면 스크롤이 제일 밑으로 내려가도록 구현
  backend/src/io.ts
  frontend/src/components/atoms/Chat/index.tsx
  frontend/src/components/molecules/CharacterProfile/index.tsx
  frontend/src/components/molecules/ChatList/index.tsx
  frontend/src/components/organisms/GameRoomContainer/index.tsx
  frontend/src/components/organisms/GameRoomNav/index.tsx
  frontend/src/pages/game/index.tsx
  frontend/src/types/Chat.d.ts
Labels: frontend, component

#126 [#123] ROUND_END 이벤트 작성과 그에 따른 팝업 메시지 렌더링 구현
  backend/src/io.ts
  frontend/src/components/molecules/BlurDialog/index.tsx
  frontend/src/pages/game/index.tsx
Labels: frontend, backend, component

#127 [#125] 로비의 작은 이슈
  backend/src/io.ts
  backend/src/types/Player.d.ts
  backend/src/types/SocketEvents.ts
  frontend/src/components/atoms/RoomCard/index.tsx
  frontend/src/components/atoms/SearchUrl/index.tsx
  frontend/src/components/molecules/CharacterList/index.tsx
  frontend/src/components/molecules/CharacterProfile/index.tsx
  frontend/src/components/organisms/EnterPwdModal/index.tsx
  frontend/src/components/organisms/GameRoomContainer/index.tsx
  frontend/src/pages/lobby/index.tsx
  frontend/src/types/Player.d.ts
  frontend/src/types/SocketEvents.ts
Labels: frontend, feature

#128 [#124] 라운드 및 힌트 표시 구현 등
  backend/src/io.ts
  backend/src/types/GameRoom.d.ts
  backend/src/types/ServerRoom.d.ts
  backend/src/types/SocketEvents.ts
  backend/src/utils/rooms.ts
  frontend/public/images/ic_speaker_off.png
  frontend/src/components/atoms/RoomCard/index.tsx
  frontend/src/components/organisms/GameRoomContainer/index.tsx
  frontend/src/types/GameRoom.d.ts
  frontend/src/types/SocketEvents.ts
Labels: frontend, backend, feature

#131 [#130] 각종 버그 수정
  backend/src/io.ts
  backend/src/resources/game/controller.ts
  backend/src/types/ServerRoom.d.ts
  backend/src/utils/streamify.ts
  backend/src/variables/YoutubeStream.ts
  frontend/src/components/organisms/CreateRoomModal/index.tsx
  frontend/src/pages/game/index.tsx
Labels: bug, backend

#133 [#130] 1차 버그 수정
  backend/src/io.ts
  frontend/src/components/organisms/GameRoomNav/index.tsx
  frontend/src/components/organisms/OptionModal/index.tsx
  frontend/src/components/organisms/SearchUrlModal/index.tsx
Labels: bug

#134 [#130] ffmpeg Input Stream 에러 해결, disconnect 이벤트 리스너가 단 한 번만 설정되도록 수정
  backend/src/io.ts
  backend/src/variables/YoutubeStream.ts
Labels: bug, backend

#137 [#124] seo 관련 추가, 초대코드 복사 기능 등
  frontend/public/images/favicon.ico
  frontend/src/components/atoms/RoomCard/index.tsx
  frontend/src/components/molecules/CharacterProfile/index.tsx
  frontend/src/components/organisms/GameRoomContainer/index.tsx
  frontend/src/components/organisms/GameRoomNav/index.tsx
  frontend/src/pages/_document.tsx
Labels: frontend, refactor, feature

#138 [#114] 게임 페이지 Timer 구현, 1·2·3 등 메달 렌더링 구현
  backend/src/variables/YoutubeStream.ts
  frontend/.babelrc.json
  frontend/.eslintrc.json
  frontend/babel.config.js
  frontend/package.json
  frontend/public/images/bronze-medal.svg
  frontend/public/images/gold-medal.svg
  frontend/public/images/silver-medal.svg
  frontend/public/images/timer.svg
  frontend/src/components/atoms/Timer/index.tsx
  frontend/src/components/molecules/CharacterList/index.tsx
  frontend/src/components/molecules/CharacterProfile/index.tsx
  frontend/src/components/organisms/GameRoomContainer/index.tsx
  frontend/src/pages/game/index.tsx
Labels: frontend, setting, component

#139 [#116] 플레이리스트 좋아요 및 플레이 수 기능 구현
  backend/src/io.ts
  backend/src/models/Playlist.ts
  backend/src/resources/playList/controller.ts
  backend/src/resources/playList/service.ts
  frontend/src/components/organisms/GameRoomContainer/index.tsx
  frontend/src/components/organisms/SelectPlaylistModal/index.tsx
  frontend/src/types/Playlist.d.ts
Labels: frontend, backend, feature, component

#141 [#136] 강퇴 기능 추가
  backend/src/io.ts
  backend/src/types/SocketEvents.ts
  frontend/src/components/atoms/Chat/index.tsx
  frontend/src/components/molecules/CharacterProfile/index.tsx
  frontend/src/pages/game/index.tsx
  frontend/src/types/SocketEvents.ts
Labels: frontend, feature

#142 [#130] 비밀번호 수정 관련 이슈
  backend/src/io.ts
  backend/src/types/SocketEvents.ts
  frontend/src/components/organisms/OptionModal/index.tsx
  frontend/src/types/SocketEvents.ts
Labels: bug, frontend

#144 [#143] 정답 인원 수 옵션 구현
  backend/src/io.ts
  backend/src/types/GameRoom.d.ts
  backend/src/types/Player.d.ts
  backend/src/types/ServerRoom.d.ts
  backend/src/utils/rooms.ts
  frontend/src/components/atoms/SelectBox/index.tsx
  frontend/src/components/molecules/CharacterList/index.tsx
  frontend/src/components/molecules/CharacterProfile/index.tsx
  frontend/src/components/molecules/SelectSection/index.tsx
  frontend/src/components/organisms/CreateRoomModal/index.tsx
  frontend/src/components/organisms/GameRoomContainer/index.tsx
  frontend/src/components/organisms/OptionModal/index.tsx
  frontend/src/components/organisms/SelectPlaylistModal/index.tsx
  frontend/src/pages/game/index.tsx
  frontend/src/types/GameRoom.d.ts
  frontend/src/types/Player.d.ts
Labels: frontend, backend, feature, component

#146 [#145] 각종 컴포넌트 반응형 개선, 폰트 파일 woff2를 우선적으로 사용하도록 개선
  frontend/public/fonts/GmarketSansMedium.woff2
  frontend/public/fonts/KoPubWorldDotum_ProLight.woff2
  frontend/src/components/molecules/Modal/index.tsx
  frontend/src/components/organisms/SelectPlaylistModal/index.tsx
  frontend/src/pages/lobby/index.tsx
  frontend/src/styles/default.css
Labels: frontend, style, component

#148 [#147] 플레이리스트 좋아요 기능 및 최적화 작업 수행
  backend/src/resources/user/controller.ts
  backend/src/resources/user/router.ts
  backend/src/resources/user/service.ts
  frontend/src/api/user.ts
  frontend/src/components/atoms/RoomCard/index.tsx
  frontend/src/components/molecules/MyPlayListBox/index.tsx
  frontend/src/components/organisms/MyPageContainer/index.tsx
  frontend/src/components/organisms/MyPlaylistTable/index.tsx
  frontend/src/components/organisms/ResultModal/index.tsx
  frontend/src/pages/game/index.tsx
  frontend/src/pages/lobby/index.tsx
  frontend/src/pages/mypage/index.tsx
  frontend/src/pages/playlist/[playlistId].tsx
Labels: frontend, backend, feature, component

#150 [#149] YoutubeStream에서 오디오를 미리 저장해두록 변경
  .gitignore
  backend/src/io.ts
  backend/src/resources/game/controller.ts
  backend/src/variables/YoutubeStream.ts
Labels: backend

#154 [#145] game 및 lobby 페이지 CSS 개선
  frontend/public/images/check.svg
  frontend/src/components/atoms/Button/index.tsx
  frontend/src/components/atoms/Chat/index.tsx
  frontend/src/components/atoms/GameSummary/index.tsx
  frontend/src/components/molecules/CharacterList/index.tsx
  frontend/src/components/molecules/CharacterProfile/index.tsx
  frontend/src/components/molecules/GamePlaySummary/index.tsx
  frontend/src/components/molecules/GameWaitSummary/index.tsx
  frontend/src/components/molecules/Modal/index.tsx
  frontend/src/components/molecules/ResultCharacter/index.tsx
  frontend/src/components/organisms/CreateRoomModal/index.tsx
  frontend/src/components/organisms/GameResultModal/index.tsx
  frontend/src/components/organisms/GameRoomContainer/index.tsx
  frontend/src/components/organisms/GameRoomNav/index.tsx
  frontend/src/components/organisms/OptionModal/index.tsx
  frontend/src/components/organisms/ResultModal/index.tsx
  frontend/src/pages/game/index.tsx
  frontend/src/pages/lobby/index.tsx
Labels: frontend, style, component

#153 [#152] alert -> toast 메시지로 변경
  frontend/package.json
  frontend/src/api/account.ts
  frontend/src/components/organisms/EnterPwdModal/index.tsx
  frontend/src/components/organisms/GameRoomNav/index.tsx
  frontend/src/components/organisms/InviteCodeModal/index.tsx
  frontend/src/components/organisms/MyPlaylistTable/index.tsx
  frontend/src/constants/index.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/enter/index.tsx
  frontend/src/pages/findPwd/index.tsx
  frontend/src/pages/join/index.tsx
  frontend/src/pages/login/index.tsx
  frontend/src/pages/playlist/[playlistId].tsx
  frontend/src/utils/showAlert.ts
  frontend/yarn.lock
Labels: frontend, component

#155 [#145, #149] YoutubeStream에서 ffmpeg를 사용하지 않도록 변경, 플레이리스트 추가 페이지 CSS 수정
  backend/package.json
  backend/src/variables/YoutubeStream.ts
  backend/yarn.lock
  frontend/src/components/atoms/PageBox/index.tsx
  frontend/src/pages/playlist/[playlistId].tsx
Labels: frontend, backend

#157 [#156] 마이페이지 및 게임 페이지 렌더링 최적화
  frontend/src/api/user.ts
  frontend/src/components/atoms/InputText/index.tsx
  frontend/src/components/molecules/ChatList/index.tsx
  frontend/src/components/molecules/UserInfoBox/index.tsx
  frontend/src/components/organisms/CreatePlaylistMusicModal/index.tsx
  frontend/src/components/organisms/GameRoomChatContainer/index.tsx
  frontend/src/components/organisms/GameRoomContainer/index.tsx
  frontend/src/components/organisms/GameRoomInputContainer/index.tsx
  frontend/src/components/organisms/SearchUrlModal/index.tsx
  frontend/src/hooks/useDebounce.ts
  frontend/src/pages/mypage/index.tsx
  frontend/src/pages/playlist/[playlistId].tsx
  frontend/src/types/InputTextProps.d.ts
Labels: frontend, component

#158 [#114] 게임 페이지 UI 개선
  backend/src/sockets/events/game/sendChat.ts
  frontend/src/components/atoms/Chat/index.tsx
  frontend/src/pages/game/index.tsx
Labels: frontend

#160 [#159] 다중 브라우저 접속 예외처리 및 자잘한 오류 수정
  backend/src/resources/user/service.ts
  backend/src/sockets/events/game/checkEnter.ts
  backend/src/sockets/index.ts
  backend/src/types/SocketEvents.ts
  frontend/src/components/organisms/GameResultModal/index.tsx
  frontend/src/components/organisms/GameRoomContainer/index.tsx
  frontend/src/components/organisms/MyPageContainer/index.tsx
  frontend/src/components/organisms/SelectPlaylistModal/index.tsx
  frontend/src/constants/index.ts
  frontend/src/pages/lobby/index.tsx
  frontend/src/types/SocketEvents.ts
Labels: bug, frontend
